In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ['riya', 'diya', 'jiya'],
    "marks" : [90, 95, 80],
    "city" : ['porbandar', 'porbandar', 'junagadh']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

   name  marks       city
0  riya     90  porbandar
1  diya     95  porbandar
2  jiya     80   junagadh

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('friends_index_false.csv', index=False)

In [7]:
df.head(1)

   name  marks       city
0  riya     90  porbandar

In [8]:
df.head(2)

   name  marks       city
0  riya     90  porbandar
1  diya     95  porbandar

In [9]:
df.tail(2)

   name  marks       city
1  diya     95  porbandar
2  jiya     80   junagadh

In [10]:
df.describe()

           marks
count   3.000000
mean   88.333333
std     7.637626
min    80.000000
25%    85.000000
50%    90.000000
75%    92.500000
max    95.000000

In [11]:
dia = pd.read_csv('friends_index_false.csv')

In [12]:
dia

   name  marks       city
0  riya     90  porbandar
1  diya     95  porbandar
2  jiya     80   junagadh

In [13]:
dia1 = pd.read_csv('friends.csv')

In [14]:
dia1

   Unnamed: 0  name  marks       city
0           0  riya     90  porbandar
1           1  diya     95  porbandar
2           2  jiya     80   junagadh

In [15]:
dia['name']

0    riya
1    diya
2    jiya
Name: name, dtype: object

In [16]:
dia['name'][1]

'diya'

In [17]:
dia['marks'][2] = 89

/tmp/ipykernel_18/642256480.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dia['marks'][2] = 89
/tmp/ipykernel_18/642256480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dia['marks'][2] = 89

In [18]:
dia

   name  marks       city
0  riya     90  porbandar
1  diya     95  porbandar
2  jiya     89   junagadh